<!--One Entry-->
<tr>
<<<<<<< Updated upstream
    <td class="custId">{{this.customerId}}</td>
    <td class="custEmail">{{this.custEmail}}</td>
    <td class="custName">{{this.customerLastName}}, {{this.customerFirstName}}</td>
=======
    <tr>
            <td class="custId">{{this.customerId}}</td>
            <td class="custEmail">{{this.customerEmail}}</td>
            <td class="custName">{{this.customerLastName}}, {{this.customerFirstName}}</td>
>>>>>>> Stashed changes
</tr>
<!--One Entry-->