 <!--One Entry-->
 <tr id="{{this.prodId}}">
     <td class="pid">{{this.prodId}}</td>
     <td class="pName">{{this.prodName}}</td>
     <td class="pPrice" id="price">{{this.prodPrice}}</td>
     <td class="pButtons">
         {{#if isDiscounted}}
         <button type="button" class="btn btn-primary add-discount visually-hidden" id="add-discount-btn"
             data-bs-toggle="modal" data-bs-target="#product_modal" data-id="P000001" data-name="Call of Duty"
             data-price="4500">Add
             Discount</button>
         <button type="button" class="btn btn-danger remove-discount" id="remove-discount-btn">Remove
             Discount</button>
         {{else}}
         <button type="button" class="btn btn-primary add-discount" id="add-discount-btn" data-bs-toggle="modal"
             data-bs-target="#product_modal" data-id="P000001" data-name="Call of Duty" data-price="4500">Add
             Discount</button>
         <button type="button" class="btn btn-danger remove-discount visually-hidden" id="remove-discount-btn">Remove
             Discount</button>

     </td>
 </tr>
 <!--One Entry-->