<!-- Single item -->
<div class="row">
    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
        <!-- Image -->
        <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
            <img src="{{this.productImages}}" class="w-100" />
        </div>
        <!-- Image -->
    </div>

    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0 align-items-center">
        <!-- Data -->
        <p class="p mb-2" id="brand">{{this.productBrand}}</p>
        <h4 id="product-name" class="h4 ">{{this.productName}}</h4>

        <button type="button" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"
            title="Remove item">
            <i class="fas fa-trash"></i>
        </button>

        <p id="product-stock" class="p mt-5">Stock: {{this.productStock}}</p>
        <!-- Data -->
    </div>

    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- Quantity -->
        <div class="d-flex mb-4" style="max-width: 300px">
            <button class="btn btn-danger px-3 me-2 sub_num"
                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                <i class="fas fa-minus"></i>
            </button>

            <div class="form-outline text-center">
                <input id="form1" min="0" name="quantity" value="{{this.qty}}" type="number"
                    class="form-control text-center cartAllQty" />
                <label class="form-label" for="form1">Quantity</label>
            </div>

            <button class="btn btn-danger px-3 ms-2 add_num"
                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <!-- Quantity -->

        <!-- Price -->
        <h5 id="unit-price" class="text-start text-md-center">Unit Price: PHP {{this.productPrice}}</h5>
        <h5 id="total-price" class="text-start text-md-center subtotal">Subtotal Price: PHP {{computeSubTotal this.productPrice this.qty}}</h5>
        <!-- Price -->
    </div>
</div>
<hr class="my-4" />
<!-- Single item -->