{{!-- MAIIBA COMPLETELY COS UNG LAMAN NETO DAPAT UNG NA CHECK OUT NA NA ORDER, FOR TEMPLATE LANG KAYA GINAYA KO UNG CART - CARL --}}

<!-- Summary -->

{{#each transactions}}
    <div class="col-lg-4 my-4">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h5 class="mb-0">Summary</h5>
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            <p>Number of items</p>
                            <p class="fw-bold" id="number-of-items">{{lengthFunc this.finalProducts}} item/s</p>
                        </li>

                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            <p>Total Amount </p>
                            <p class="fw-bold" id="total-amount">PHP {{this.totalTransactPrice}}</p>
                        </li>

                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            <p>Status </p>
                            <p class="fw-bold" id="number-of-items">{{this.orderStatus}}</p>
                        </li>

                        <li
                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                            <p>Mode of Payment </p>
                            <p class="fw-bold" id="number-of-items">{{this.payment}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Summary -->
        <!-- Cart -->
        <div class="col-lg-8 my-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Order Details</h5>
                </div>

                <div class="card-body">
                    {{!-- 
                        display each cart product from database
                        cartProducts -> array of objects each containing a product with attributes (sample):
                            productName: 'Call of Duty: Black Ops Cold War',
                            productImages: '/assets/cod_black_ops_cold_war.jpg',
                            productCategory: 'Game',
                            productPrice: 1500,
                            productStock: 10,
                            productDesc: 'Call of Duty: Black Ops Cold War is a 2020 first-person video game published by Activision',
                            productBrand: 'Activision',
                            productId: 'P000000',
                            qty: 39
                    --}}
                    
                    {{#each finalProducts}}
                        <!-- Single item -->
                        <div class="row">
                            <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                <!-- Image -->
                                <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                    <img src="{{this.productImages}}" class="w-100" />
                                </div>
                                <!-- Image -->
                            </div>

                            <div class="col-lg-5 col-md-6 mb-4 mb-lg-0 align-items-center">
                                <!-- Data -->
                                <p class="p mb-2" id="brand">{{this.productBrand}}</p>
                                <h4 id="product-name" class="h4 ">{{this.productName}}</h4>

                                <!-- Data -->
                            </div>

                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <!-- Quantity -->
                                <div class="d-flex mb-4" style="max-width: 300px">

                                    <div class="form-outline text-center">
                                        <input value="{{this.quantity}}" class="form-control text-center" readonly>
                                        <label class="form-label" for="form1">Quantity</label>
                                    </div>
                                </div>
                                <!-- Quantity -->

                                <!-- Price -->
                                <h5 id="unit-price" class="">Price: PHP {{this.price}}</h5>
                                <!-- Price -->
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Single item -->
                    {{/each}}
                </div>
            </div>
        </div>
        <!-- Cart -->
{{/each}}